/* Navbar.css */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232F3E; /* Amazon dark blue */
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #FF9900; /* Amazon orange */
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.navbar-text {
  color: #FF9900; /* Amazon orange */
  font-size: 16px;
  font-weight: bold;
}
