/* Status.css */
.status-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 10px; /* Add border radius */
}

.status-container.visible {
    display: block;
}

.status-title {
    margin-top: 0;
    color: #333; /* Darken the text color */
}

.status-list {
    list-style-type: none;
    padding: 0;
}

/* Navbar.css */
.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff; /* Change navbar background color */
    color: white;
    transition: background-color 0.3s ease; /* Add transition */
}

.navbar-container:hover {
    background-color: #0056b3; /* Darken the background color on hover */
}

.navbar-left .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar-text {
    font-size: 1.2em;
}

.navbar-link:hover {
    text-decoration: underline; /* Underline the navbar links on hover */
}
